# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
#<variable> = <value> 

my_int = 10
print(my_int)
type(my_int)

##### Assinging float

In [ ]:
my_float = 4.1

print(my_float)
print(type(my_float))

#### Performing Calculations on ints and floats

##### Addition

In [ ]:
5+5

##### Subtraction

In [ ]:
10-5

my_int - 2

print(my_int)

In [ ]:
# update value with calculation

#long hand
my_int = my_int - 2
print(my_int)

#short hand
my_int -= 2
print(my_int)

##### Multiplication

In [ ]:
10 * 10

new_int = 25

new_int * 2

print(new_int)

In [ ]:
#reassign

#long hand
new_int = new_int * 2
print(new_int)

#short hand
new_int *= 5
print(new_int)

##### Division

In [ ]:
# / always returns float 
print(10 / 2)

# division and convert back to int
print(int(10/2))

type(new_int / 25)

print(int(new_int / 25))

In [ ]:
new_int = int(new_int / 25)
print(new_int)

new_int /= 2
print(new_int)

##### Floor Division

In [ ]:
#rounds down, chops off any remainder

print(10//2)
print(10/2)

print(11/2)
print(11//2)

ten = 10

print(ten//5)

##### Modulo

In [ ]:
#will only give you the remainder. Good for figuring even and odds (evens return 0, odds 1)

print(10 % 2)
print(11 % 2) #2 goes into 11 twice with 1 leftover

print(124 % 25)#25 goes into 124 5 times with 24 leftover

##### Exponential

In [ ]:
# **

print(2**2)
print(2**3)
print(10**2)
print(10**3)

In [ ]:
ten = 10

ten **=2

print(ten)

### String Input-Output

##### String Assignment

In [ ]:
#strings are wrapped in quotes (either double or single, so long as they match)
#strings are a collection of characters (digits or characters, so long as they are between quotes)

print(type('sean100'))

instructor = 'sean'
print(instructor)
print(type(instructor))

##### print() <br>
<p>Don't forget about end=' '</p>

In [ ]:
#there is a default end value in print statements for creating a new line (default new line character). 
#In the first example, this default is overridden since we have assigned the end value to 'currie'

print(instructor, end=' currie')
print('dylan')

print(instructor)
print('dylan')

print(instructor, end='currie')
print(instructor)
print('dylan')
print('matrix')

##### String Concatenation

In [ ]:
#concatenate = to add together
#don't forget to add spaces if wanted! They must be explicitly stated

first_name = 'dylan'

print(first_name + 'smith')

first_name = 'dylan'

print(first_name + ' smith')

print(first_name + ' ' + 'smith')


last_name = 'smith'
print(first_name + ' ' + last_name)


full_name = first_name + ' ' + last_name
print(full_name)

print(full_name + ' jr.')

##### Type Conversion

In [ ]:
print(type(12))

print(type('12'))

str_digit = '23'

print(int(str_digit) + 100)
#you must wrap a string in the int function in order for it to work, even if the string is filled with digits.
#e.g., print(str_digit + 100) yields and error since python thinks that '23' is distinct from 100 since '23' is
#between quotes.


#another bug: print(int('23a'))


my_age = 33
happy_birthday_string = full_name + ' happy birthday! You are now ' + str(my_age) +'!'

print(happy_birthday_string)

In [ ]:
print(type(my_age))

print(str(my_age))

#in order to update the integer value to a string (fixing it from being out of place), you need to assign it a new variable
my_age = str(my_age)

print(type(my_age))

##### input()

In [ ]:
input('What is your age? ')

#although we input an integer, it is still returned a string. (i.e., '33' and not 33.)

In [ ]:
user_age = input('What is your age? ')

In [ ]:
print(user_age)
print(type(user_age))

##### format()

In [ ]:
#this is a string method, not a fuction.
#method syntax is always the same. Functions are dot notation. All functions belong to a data type class.
#the {} are placeholders that are filled in with what is put within format () in the order they are put in.

result_string = '{}, you are {}. My, you are beautiful!'.format(instructor, user_age)
print(result_string)

##### Old Way (python 2)

In [ ]:
result_string_python2 = '%s, you are %d. My, you are beautiful!' %(instructor, int(my_age))
print(result_string_python2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

In [ ]:
#Conditional
#if <condition that returns T or F (boolean statement)>:
    #<action to run if T>
    
if True:
    print('true action')
    
if False:
    print('false action')
    
if 10 > 5:
    print('ten is greater than five')
    
if 10 < 5:
    print('ten is less than 5')

In [ ]:
#combining conditions
#if <condition1> and <condition2>:
    #<action to run if both T>
    

#if <condition1> or <condition2> 
    #<action to run if any are true>
    

if True and True:
    print('both true')
    
if False and True:
    print('both true2')
    
if False or True:
    print('at least one is true')

if True or False:
    print('at least one is true')
    

#bug
#and separates the two conditions (c1 = 10 > 8; c2 = 6). In these cases, think of 'and' as an additional 'if' 
if 10 > 8 and 0:
    print('ten is greater than both')
    
#fixed
if 10 > 8 and 10 > 6:
    print('ten is greater than both2')
    
if 24 > 25 or 0 > 1:
    print('neither true or both false')

In [ ]:
if 6 < 10 > 8:
    print('neat shortcut')
    
if 24 > 25 or 0 > 1:
    print('neither true or both false')

##### 'is' keyword

In [ ]:
##### 'is' keyword
#is points to the same location/place in memory (i.e., dict1 and dict3 points to the exact same location in memory)

# print(55==55)

#incorrect use of is
# print(55 is 55)
# another_num = 55
# print(another_num == 55)
# print(another_num is 55)

dict1= {'a':1}
dict2={'a':1}

print(dict1==dict2)
print(dict1 is dict2)

dict3 = dict1
print(dict3)

print (dict3 == dict1)

print(dict3 is dict1)

dict3['a']+=1

print(dict1)

##### 'in' keyword

In [ ]:
print('a' in 'abc')
print('d' in 'abc')

char_name = 'the hulk'

if 'the' in char_name:
    print('the in name')
    
#it is case sensitive!
if 'H' in char_name:
    print('H in name')

if 'h' in char_name:
    print('h in name')

if 'H'.lower() in char_name.lower():
    print('H in name')

##### 'not in' keyword'

In [ ]:
print('a' not in 'abc')
print('d' not in 'abc')

if 'z' not in 'Zelda': #returns true so we do see our action
    print('case sensitive')
    
if 'z' not in 'Zelda'.lower(): #returns false so we do not see our action
    print('case sensitive')

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [5]:
user_input = input('Do you use a mac or a pc? ')

if 'p' not in user_input:
    print('You use a mac!')

if 'p' in user_input:
    print('You use a pc!')

Do you use a mac or a pc? mac
You use a mac!

In [6]:
user_console = input('Do you play on PC, Xbox, or Playstation? ')

if 'p' not in user_console.lower():
    print('Yay Xbox!')

if 'y' in user_console.lower():
    print('All about that Sony!')

if 'c' in user_console.lower():
    print('PC Supremecy!')

Do you play on PC, Xbox, or Playstation? xbox
Yay Xbox!

## Using 'and'/'or' with If Statements

In [ ]:
#see above

if 'd' in 'dylan' and 's' in 'sean':
    print('d and s')

### Elif Statements

In [ ]:
#elif and else are chained to an if
#you can have multiple elif, but one else

#if /elif/ else chain the first condition that returns true breaks the chain

#elif sytax >> elif <condition>:
    #action
    
#else (in any other case, do this. If this, otherwise this)
#else:
    #action

In [ ]:
if 'd' in 'Dylan':
    print('found d')
elif 'D' in 'Dylan':
    print('found D')
else:
    print('no d')

In [ ]:
grade = 90
if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')

In [27]:
number = int(input('What number are you thinking of? '))

if number > 0:
    print('Your number is positive!')
elif number < 0:
    print('Your number is negative!')
else:
    print('Your number is 0!')

What number are you thinking of? 0
Your number is 0!

### Else Statements

In [ ]:
# see above
# see above
#else run if all chainged conditions return false
#any chained condition returns true, break from change and don't run else

### For Loops

In [ ]:
#for <loop variable> in <iterable>:
    #<loop code block>  <--can be one or many lines.
#<code after for loop>.  <--not going to get here until after the loop is complete.

for letter in 'hello world':
    print(letter)
    print('end of loop code block with letter: ' + letter)
print('finish loop')

##### Using 'in' keyword

In [ ]:
# see above
# see above

for num in range(10):
    print(num)

##### Continue Statement

In [ ]:
# will continue to next iteration
#continues to the next step in your loop

In [ ]:
for num in range(10):
    if num == 5:
        continue
    print(num) #because of this, once it will hit 5, it will return true and then continue on, meaning that 5 will
    #not be shown.
    
    
for num in range(10):
    if num == 5:
        print('5 before continue')
        print('line 2 in action')
        continue
    print(num)

##### Break Statement

In [ ]:
# will break out of current loop
#if you reach this statement, we are done with this loop are are out of here.

In [ ]:
for num in range(10):
    if num == 5:
        break #since we hit the break point, we will hop over the rest of the info (i.e., print statement that
        #is on the same indentiation level) and pick things up after the for loop.
        print('5 with break')
    print(num)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for num in range(10):
    if num == 5:
        pass
        print('5 with pass')
    print(num)
print('after for loop')

##### Double For Loops

In [ ]:
#aka nested loops

for letter in 'dylan': #get to our first letter and then continue to our next loop (nested loop)
    for num in range(5): #once we finish the rest of the code block (for2 + print statements), move to next letter
        #or item in our overarching for statement.
        print(f'{letter} {num}')
    print('nested loop complete\n')

### While Loops

In [ ]:
#While <boolean condition>
    #<loop code block>

##### Looping 'While True'

##### While & For Loops Used Together

### Built-In Functions

##### range()

In [ ]:
#range in non-inclusive (upto, but not including the upper limit). It starts at 0 by default, although this
#can be overriden.
range(10)

list(range(10))

list(range(1, 10))


#range(start, stop, step)
    #start and step are optional
    #
print(list(range(1, 10, 2)))

##### len()

##### help()

##### isinstance()

##### abs()

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

In [37]:
for num in range(1, 100):
   if num > 1:
       for num2 in range(2, num):
           if (num % num2) == 0:
               break
       else:
           print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [18]:
for num in range (1000):
    if num**3 < 1000:
        print(num)
    if num**3 > 1000:
        break
print('These are the cubed numbers whose totals approach, but do not exceed, a total value of 1000.')

0
1
2
3
4
5
6
7
8
9
These are the cubed numbers whose totals approach, but do not exceed, a total value of 1000.

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [39]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(1, 100):
   if num > 1:
       for num2 in range(2, num):
           if num % num2 == 0:
               break
       else:
           print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [4]:
user_age = int(input('What is your age? '))

if user_age < 18:
        print('You are a kid.')
elif user_age > 18 and user_age < 65:
    print('You are an adult.')
else:
    print('You are a senior.')

What is your age? 65
You are a senior.